.sub-head {
    font-weight: 600;
    font-size: 60px;
    line-height: 69px;
    text-transform: uppercase;
}

.select-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #1CA7AB;
    font-weight: 500;
    width: 228px;
    border-radius: 5px;
}
.rating-sub-title {
    font-size: 20px;
line-height: 23px;
}
@media screen and (max-width: 280px) {
    .sub-head {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-transform: uppercase;
    }
    .select-btn {
       
        font-weight: 500;
        width: 180px;
    }
}
@media screen and (min-width: 280px) and (max-width:320px) {
    .sub-head {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
    }
}
@media only screen and (min-width: 321px) and (max-width: 600px) {
    .sub-head {
        font-size: 30px;
        line-height: 40px;
        
    }
}
    /* .img1 {
        position: relative;
        left: -167px;
        z-index: -2;
        width: 40%;
    }

    .img2 {
        position: absolute;
        z-index: -1;
        left: 108px;
        width: 45%;
        top: 30px;

    }

    .img3 {
        width: 50%;
        z-index: 1;
    }

   

    @media screen and (max-width:320px) {
        .img1 {
            position: absolute;
            left: 153px;
            z-index: -2;
            width: 60%;
            top: 40px;
        }
    }


        @media screen and (min-width: 321px) and (max-width: 480px) {
            .img1 {
                position: absolute;
                z-index: -1;
                left: 60px;
                width: 75%;
            }
            .img2 {
                position: absolute;
        z-index: -1;
        left: 110px;
        width: 70%;
        top: 45px;

            }
        
            
        } 
        @media only screen and (max-width: 600px) {
        .sub-head {
            font-size: 30px;
            line-height: 40px;
            
        }

        .img-resp {
            margin-top: 2rem;
        }

        .img2 {
            position: absolute;
            z-index: -1;
            left: 73px;
            width: 75%;
            top: 10px;
        }

        .img3 {
            width: 80%;
        }

        .img1 {
            position: absolute;
            left: 125px;
            z-index: -2;
            width: 60%;
            top: 30px;
        }
    }  */
