<div class="container-fluid mt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="br">
                    <p class="sub-head sky-color">Beautiful ready
                        to use resume
                        templates</p>
                </div>
                <div>
                    <p>Win over employers and recruiters by using
                        one of our 25+ elegant, professionally-designed
                        resume templates. Download to word or PDF.</p>
                </div>
                <div>
                    <button class="btn select-btn" routerLink="/choose-template">Select template</button>
                </div>
            </div>
            <div class="col-md-6 text-center ">  
                <!-- <div class="img-resp mt-5" style="position: relative;">
                    <img src="./assets/img3.png" alt="img3" class="img3">
                    <img src="./assets/img2.png" class="pt-4" alt="img2" class="img2">
                    <img src="./assets/img1.png" alt="img1" class="img1">
                </div>  -->
                <img src="./assets/img4.png" alt="img1" class="img-fluid">

            </div>
        </div>
        <div class="row mt-5 mb-5 text-center">
            <img src="./assets/Group 185.png" alt="group icon" class="img-fluid">
        </div>
        <br>
        <p class="text-center">4/5</p>
        <div>

        </div>
        <div class="row mt-5 mb-5">
            <h1 class="text-center sky-color ">THE RAGE IS ALL ABOUT US</h1>
            <p class="rating-sub-title text-center">Here’s what people are saying about us!</p>
            <p class="text-center"><i class="fa-solid fa-star" style="color: #0a0a0a;"></i>
                <i class="fa-solid fa-star" style="color: #0a0a0a;"></i>
                <i class="fa-solid fa-star" style="color: #0a0a0a;"></i>
                <i class="fa-solid fa-star" style="color: #0a0a0a;"></i>
                <i class="fa-solid fa-star" style="color: #a3a3a3;"></i>
            </p>
        </div>

       <div class="row">
        <app-ratings></app-ratings>
       </div>
    </div>
</div>