<header class=" cont fixed-top">
    <nav class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/logo.png" alt="logo" class="logo">
            </div>
            <div class="col-md-6">
                <ul class="navigation-list">
                    <li><a class="link" routerLink="resume">Resume</a></li>
                    <li><a class="link"  routerLink="coverletter">Coverletter</a></li>
                    <li><a class="link" routerLink="blog">Blog</a></li>
                    <li><a class="link"><button class="button" routerLink="my-account">{{username}}MY ACCOUNT</button></a></li>
                  </ul>
            </div>
        </div>
    </nav>
</header>


