.cont {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

.navigation-list {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #515151;
}

.link {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 20px;
    color: black;
}

.button {
    border: 2px solid #1CA7AB;
    color: #1CA7AB;
    /* width: 228px; */
    border-radius: 5px;
    width: 170px;
    height: 46px;
}

a :hover {
    background-color: #FEDE29;
}
.logo {
    width: 174px;
    margin-top: 0.2rem;
}

/* media queries */

@media screen and (max-width: 320px) {
    .navigation-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button {
       
        width: 120px;
        height: 55px;
    }
    .cont {
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
    }
    .link {
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px 20px;
        color: black;
    }
}
@media screen and (min-width: 321px) and (max-width: 576px) {
    .navigation-list {
        display: block;
        justify-content: center;
        align-items: center;
    }
 
}