<div class="container-fluid">
    <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img src="./assets/logo.png" alt="">
                    <div class="row pt">
                        <p class="pb-2">Connect with us on <br>
                            social media</p>
                        
                    </div>
                    <div style="display: flex; justify-content: start">
                        <i class="fa-brands fa-youtube fa-2xl mx-1" style="color: #e70d0d;"></i>
    
                            <i class="fa-brands fa-pinterest fa-2xl mx-1" style="color: #ce1c09;"></i>            
                            <i class="fa-brands fa-linkedin fa-2xl mx-1" style="color: #406bb5;"></i>                 
                            <i class="fa-brands fa-facebook fa-2xl mx-1" style="color: #3656a1;"></i>
                            <i class="fa-brands fa-square-instagram fa-2xl mx-1" style="color: #f0380a;"></i><br><br>
                        </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="sky-color ">JOB SEEKERS</p>
                    <p>Create a Resume</p>
                    <p>Resume Examples</p>
                    <p>Resume Templates</p>
                    <p>Cover Letter Templates</p>
                    <p>Job Search</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="sky-color">OUR COMPANY</p>
                        <p>About Us</p>
                        <p>Pricing</p>
                        <p>Product Updates</p>
                        <p>Sponsorship Program</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="sky-color ">SUPPORT</p>
                    <p>FAQ</p>
                    <p>Contact Us</p>
                    <p>Terms of Service</p>
                    <p>Privacy</p>
                </div>
            <!-- </div>
           </div> -->
        </div>
        <div class="row text-center">
            <p class="footer-p">Copyright 2023 -Resume Rescue</p>
        </div><br>
    </div>
</div>