.footer-sub-head {
    font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
/* identical to box height */

text-align: center;
text-transform: uppercase;
}
p {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 22px;    
}
.pt {
    padding-top: 7rem;
}
.footer-p {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #4F4F4F;

}