<div class="container-fluid card-works">
    <div class="container bg">
       <div class="row mb-5">
          <h1 class="text-center heading">How it works</h1>
       </div>
       <div class="row">
    <div class="felx-card">
            <!-- <div class="col-md-4  col-sm-12  mb-5"> -->
               <div class="card align-self-center">
                  <div class="imgDIV text-center">
                     <p class="para card-heading-color mb-4">Signup</p>
                     <p><i class="fa-solid fa-right-to-bracket fa-flip-horizontal fa-2xl card-icon-color"></i></p>
                  </div>
                  <div class="content text-center">
                     <p class="para">We’ve made sure that signing up to our resume maker tools is even more convenient tha5 usual. Use one of the most common networks used by professionals (LinkedIn or your Google account) or simply skip this step and enter your name and email address. We keep your data strictly confidential.</p>
                  </div>
               </div>
            <!-- </div> -->
            <!-- <div class="col-md-4 col-sm-12  mb-5"> -->
               <div class="card align-self-center mt-3 mb-3">
                  <div class="imgDIV text-center">
                     <p class="para card-heading-color mb-4">Create</p>
                     <p><i class="fa-solid fa-pen-to-square fa-2xl card-icon-color"></i></p>
                  </div>
                  <div class="content text-center">
                      <p class="para">Choose one of our beautiful professionally designed resume or cover letter formats. Add your personal information, education, experience & summary. It will also allow you to further edit as much as you want. We provide a tone of content and lot of room for your creativity. </p>
                  </div>
               </div>
            <!-- </div> -->
            <!-- <div class="col-md-4 col-sm-12  mb-5"> -->
               <div class="card align-self-center mt-3 mb-3">
                  <div class="imgDIV text-center">
                     <p class="para card-heading-color mb-4">Download your Resume</p>
                     <p><i class="fa-solid fa-square-check fa-2xl card-icon-color"></i>
                     </p>
                  </div>
                  <div class="content text-center">
                      <p class="para">Choose one of our beautiful professionally designed resume or cover letter formats. Add your personal information, education, experience & summary. It will also allow you to further edit as much as you want. We provide a tone of content and lot of room for your creativity. </p>
                  </div>
               </div>
            <!-- </div> -->
    </div>
       </div>
    </div>
 </div>