<!-- <div class="container-fluid">
    <div class="container">
        <div class="row">
           
            
        </div>
    </div>
</div> -->
<owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of slides">
      <ng-template carouselSlide>
        <div  class="cards-br">
            <h5 class="sky-color">{{ slide.name}}</h5>
        <h5>{{slide.ratings}}</h5>
        <p>{{slide.desc}}</p>
        </div>
        <!-- <img [src]="slide.img" > -->
      </ng-template>
    </ng-container>
</owl-carousel-o>     