<div class="container-fluid mt">
    <div class="container">
        <div>
            <img src="./assets/template1.png" alt="template" class="img-fluid  mx-auto d-block">
        </div>
        <div class="row">
            <form>
                <div class="text-center mt-2 mb-5">
                    <br><br>
                    <button class="form-buttons mx-3"><img src="./assets/downarrow.png" alt="downarrow">
                        DOWNLOAD</button>
                    <button class="form-button-active mx-3"><img src="./assets/print.png" alt="print"> PRINT</button>
                </div>
            </form>
        </div>
    </div>
</div>