<div class="container-fluid rescue-bg mt pd">
    <div class="container">
        <div class="row">
            <h1 class="mt-5 mb-3">What is a resume Rescue?</h1>
            <p class="para">A resume Rescue is an online app or piece of software that provides users with interactive forms and templates for creating a 
                resume quickly and easily. Resume Rescue resume maker offers tips and suggestions to help you build each resume section fast,
                even if it's your very first job application. <br>
                Plus, our Resume Builder formats your documents automatically, every time you make any change. This allows you to swap 
                templates, colors, content or fonts dynamically, without losing any of your progress or messing up your formatting. In short, online
                resume creators are a much quicker, more efficient alternative to creating your resume manually.</p>
        </div><br>
        <div>
            <button class="btn rescue-btn mt-3" routerLink="/choose-template">create your resume</button>
            <button class="btn rescue-btn mx-5 mt-3">subscribe now</button>
        </div>
    </div>
</div>