<div class="container-fluid mt">
    <div class="container">
        <div class="row chat-radius">
           <div class="col-md-5"></div>
           <div class="col-md-3">
            <form>
                <div class="chat-bg">
                 <h3>NOW CHATTING</h3>
                 <p>Question? We'd love to chat.</p>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <input type="text" placeholder="Type here & hit enter to chat" class="chat-form">
                        
                    </div>
                    <div class="col-md-2" align="left">
                        <button class="chat-btn" type="submit" >
                            <i class="fa-brands fa-google-play fa-xl"></i>
                        </button>

                    </div>
                </div>
             </form>
           </div>
           <div class="col-md-5"></div>
        </div>
    </div>
</div>