<div class="container-fluid mt">
   <div class="container">
      <div class="row">
         <p class="mt-5 temp-sub-head">Start your <span class="sky-color">resume</span></p>
         <p class="text-center">Employers will use this information to contact you.</p>
      </div>
      <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-8">
            <form class="row g-3" [formGroup]="personalDetailsForm" (ngSubmit)="onSubmitOfPersonalInfo()" id="personalDetailsForm">
            <div class="col-md-6">
               <label  for="fname" class="form-label">First Name</label>
               <input type="text" class="form-control" formControlName="fname" id="fname" name="fname">
               <span class="text-danger" *ngIf=" fname && fname.invalid && fname.touched"> 
               First Name Required </span>
            </div>
            <div class="col-md-6">
               <label for="lname" class="form-label">Last Name</label>
               <input type="text" class="form-control" formControlName="lname" id="lname" name="lname">
               <span class="text-danger" *ngIf="lname && lname.invalid && lname.touched"> 
               last Name Required </span>
            </div>
            <div class="col-md-12">
               <label for="address" class="form-label">Address</label>
               <input type="text" class="form-control" formControlName="address" id="address" name="address">
               <span class="text-danger" *ngIf=" address && address.invalid && address.touched"> 
               Address Required </span>
            </div>
            <div class="col-md-6">
               <label for="city" class="form-label">City</label>
               <select class="form-select" formControlName="city" name="city" id="city">
                  <option selected>Amrvati</option>
                  <option value="Pune">Pune</option>
               </select>
               <span class="text-danger" *ngIf="city && city.invalid && city.touched"> 
               City Required </span>
            </div>
            <div class="col-md-4">
               <label for="state" class="form-label">state</label>
               <select class="form-select" formControlName="state" id="state" name="state">
                  <option selected>Maharashtra</option>
                  <option value="UP">UP</option>
               </select>
               <span class="text-danger" *ngIf="state && state.invalid && state.touched"> 
               state Required </span>
            </div>
            <div class="col-md-2">
               <label for="zip" class="form-label">Zip</label>
               <input type="text" class="form-control" formControlName="zip" id="zip" name="zip">
               <span class="text-danger" *ngIf="zip && zip.invalid && zip.touched"> 
               Zip must be 6 digits </span>
            </div>
            <div class="col-md-6">
               <label for="email" class="form-label">Email Address</label>
               <input type="text" class="form-control" formControlName="email" id="email" name="email">
               <span class="text-danger" *ngIf="email && email.invalid && email.touched"> 
               Email Address Required and Match The Pattern </span>
            </div>
            <div class="col-md-6">
               <label for="phone" class="form-label ">Phone Number</label>
               <input type="text" class="form-control" formControlName="phone" id="phone" name="phone">
               <span class="text-danger" *ngIf="phone && phone.invalid && phone.touched"> 
               Mobile Number Required, Match The Pattern </span>
            </div>
            <div class="text-center mt-5 mb-5">
               <button class="form-buttons mx-3 mt-2" (click)="goToBuildResume()">BACK</button>
               <button type="submit" class="form-button-active mx-3 mt-2" >NEXT</button>
            </div>
            </form>
         </div>
         <div class="col-md-3 text-center">
            <div class="profile-upload">              
               <label for="profile"> <span class="form-header">UPLOAD PHOTO</span>
               <img src="./assets/profile_upload.png" alt="profile" class="mb-2 mx-2" id="profile">
               </label>
               <input type="file" accept=".png,.jpg,.jpeg" id="profile">
            </div>
         </div>
      </div>
   </div>
</div>