/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    
}
/* margin top bottom starts */
.mt {
    margin-top: 5rem;
    margin-bottom: 5rem;
    }/* margin top bottom ends */

    /* yellow verticale border starts */
    .br {
        border-left: 7px solid #FEDE29;
        margin-right: 0.2rem;
        padding-left: 1rem;
    }
        /* yellow verticale border ends */

    
    .bg {
        padding-top: 5rem;
        /* padding-bottom: 5rem; */
    }
    
.sky-color {
    color: #2ac6c6;
}
/* gray background container fluid starts */
.bg-gray {
    background-color: #515151;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
/* gray background container fluid ends */

.temp-sub-head {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    text-transform: uppercase;
}

.form-buttons {
        width: 228px;
        background-color: white;
        border: 2px solid #1CA7AB;
        color: #1CA7AB;
        border-radius: 5px;
        padding: 0.5rem;    
}
.form-button-active{
    width: 228px;
        background-color: #1CA7AB;
        border: 2px solid #1CA7AB;
        color: white;
        border-radius: 5px;
        padding: 0.5rem;    
}
.form-button-active:hover{
        background-color: white;
        border: 2px solid #1CA7AB;
        color: #1CA7AB;        
}
.form-buttons:hover {
    background-color: #1CA7AB;
    color: white;
}
.yellow-icon {
    color: #FEDE29;
    
}

.form-control {
    border: 1px solid #1CA7AB !important;
    border-radius: 0rem !important;
}
.form-select {
    border: 1px solid #1CA7AB !important;
    border-radius: 0rem !important;   
}
.form-header{
    /* font-family: 'Ubuntu'; */
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
text-transform: uppercase;
color: #000000;
 }

 .form-check-input:checked {
    background-color: #1CA7AB !important;
    border-color: #1CA7AB !important;
}
/* .form-space {
padding: 2rem;
} */
.add-more-btn {
        background-color: #ffffff;
        border: none;
        color: #1CA7AB;
        /* padding: 0.5rem;  */
}