.choose-temp-head {
font-family: 'Ubuntu';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 46px;
text-transform: uppercase;
color: #000000;

}
.choose-temp-head span {
    color: #1cA7AB;
}
.choose-temp-bg {
    background: #F7F7F7;
}
.choose-temp-btn {
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #A6A6A6;
}
/* .tempDiv {
    padding: 1rem;
} */
.btnDiv {
    position: relative;
    /* top: 50%; */
    bottom: 320px;
    display: none;
}
.select-temp:hover .btnDiv{
    display: block;
}
.select-temp:hover {
    opacity: 0.6;
}