professional-para {
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.spacing {
    padding-left: 8rem;
    padding-right: 8rem;
}
.container {
    width: 980px;
}
.textarea-style {
    border-radius: 2px;
border: 0.8px solid #C2C2C2;
background: #FFF;
box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.25);
}
@media screen and(min-width: 992px) {
    .container {
        width: 998px;
    }
}